<div>
    <a href = "/announce-gig">Takaisin</a>
    
    <h1>Ilmoita {{band}}-keikka</h1>
    
    <div class = "error">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>

    <form name = "create_gig_form" action = "/announce-gig/{{band}}" method = "POST">
        <p>
        Päivämäärä: <input name = "gig_date" type = "date" format = "dd/mm/yyyy" placeholder="DD-MM-YYYY">
        </p>
        <p>
        Kaupunki: <input name = "city" type = "text">
        </p>
        <p>
        Tapahtumapaikka: <input name = "venue" type = "text">
        </p>
        Kuvaus: <input name = "description" type = "text">
        <p>
        Valitse oma roolisi:
        <label for = "role_select">
            <select name = "instrument_chosen">
                {% for instruments in instruments %}
                    {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{ instrument }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        <p>
            <input type = "submit" value = "ilmoita keikka!">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </p>
        </p>
    </form> 
</div>