<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/bands.css') }}">
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/error.css') }}">
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/login.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div>
        <div class = "nav">
            <div class = "title">
                <h1>Varamuusikkopalvelu</h1>
            </div>
            <h4>Olet kirjautunut käyttäjänimellä {{ session.username }}</h4>
            <nav>
                <a href = "/main-page">Selaa keikkoja</a>
                <a href = "/manage-bands">Hallitse omia yhtyeitä</a>
                <a href = "/create-band">Luo yhtye</a>
                <a href = "/own-gigs">Omat ilmoitetut keikat</a>
                <a href = "/own-gigs-to-play">Tuurauskeikat</a>
                <a href = "/announce-gig">Ilmoita keikka</a>
                <a href = "/logout">Kirjaudu ulos</a>
            </nav>
        </div>

        <div class = "center_no_border">
            <div class = "center_no_border_no_padding">
            <h2>Ilmoita keikka</h2>
            {% if band_count|int() != 0|int() %}
                <form name = "choose_band" action = "{{url_for('announce_gig', band='selected_band')}}" method = "GET">
                    <label for = "band_selector">Valitse yhtye:</label>
                                    <select class = "button_yellow" name = "selected_band">
                                        {% for band in bands %}
                                        <option value = "{{ band }}" SELECTED>{{ band }}</option>
                                        {% endfor %}
                                    </select>
                    <p>
                        <input class = "button_yellow" type = "submit" value = "Valitse yhtye">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </p>
                </form>
            {% else %}
            <p>Ei vielä yhtään omaa yhtyettä.. 
                <a href = "/create-band">Luo ensimmäinen yhtyeesi!</a>
            </p>
            {% endif %} 
            </div>
        </div>                  
    </div>
</body>