<div>
    <a href = "/login">Takaisin</a>    
    
    <h2>Luo uusi käyttäjätunnus</h2>

    <div class = "error">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>

    <form action = "/create-user" method = "POST">
        <p>
            Käyttäjänimi:
            <input type = "text" name = "username">
        </p>
        <p>
            Salasana:
            <input type = "password" name = "password">
        </p>
        <p>
            Salasana uudelleen:
            <input type = "password" name = "password_again">
        </p>
        <input type = "submit" value = "Luo käyttäjätunnus">
    </form>

</div>