<div>
    
    <h2>Luo uusi käyttäjätunnus</h2>

    <form action = "/create_user" method = "POST">
        <p>
            Käyttäjänimi:
            <input type = "text" name = "username">
        </p>
        <p>
            Salasana:
            <input type = "password" name = "password">
        </p>
        <p>
            Salasana uudelleen:
            <input type = "password" name = "password_again">
        </p>
        <input type = "submit" name = "Luo käyttäjätunnus">
    </form>

</div>