<div>
    <a href = "/manage-bands">Takaisin</a>
    
    <h2>Luo uusi yhtye</h2>

        <div class = "error">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
    <div>
        <form name = "create_band_form" action = "/create-band" method = "POST">
            <p>
                Yhtyeen nimi:
                <input type = "text" name = "band_name">
            </p>
                <u><b>Valitse tarvittavat yhtyeen roolit</b></u><br>
                <i>*Psst! Kannattaa valita kaikki mahdolliset roolit mitä tulevaisuudessa saattaa tarvita. Koskaan ei tiedä!*</i>
            <p>
                <label for = "roleSelector1">1. Rooli</label>
                    <select name = "1_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector2">2. Rooli</label>
                    <select name = "2_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector3">3. Rooli</label>
                    <select name = "3_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector4">4. Rooli</label>
                    <select name = "4_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector5">5. Rooli</label>
                    <select name = "5_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector6">6. Rooli</label>
                    <select name = "6_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector7">7. Rooli</label>
                    <select name = "7_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector8">8. Rooli</label>
                    <select name = "8_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                <label for = "roleSelector9">9. Rooli</label>
                    <select name = "9_instrument">
                        {% for instrument in instruments %}
                        <option value = "{{ instrument }}" SELECTED>{{instrument}}</option>
                        {% endfor %}
                    </select>
            </p>
            <p>
                Kuvaus:
                <input type = "text" name = "description">
            </p>
                <input type = "submit" value = "Luo yhtye">
        </form>
    </div>
</div>