<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/login.css') }}">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/error.css') }}">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/main.css') }}">


<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class = "center">
        <div class = "title">
            <h1>Varamuusikkopalvelu</h1>
        </div>
        <div class = "login_window">
            <div class = "highlight">
                {{ message }} <br>
            </div>
            <div class = "center">
                <a href = "{{ link_back }}">{{ link_name }}</a>
            </div>
        </div>
    </div>
</body>