
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/gigs.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div>
        <div class = "nav">
            <div class = "title">
                <h1>Varamuusikkopalvelu</h1>
            </div>
            <h4>Olet kirjautunut käyttäjänimellä {{ session.username }}</h4>
            <nav>
                <a href = "/main-page">Selaa keikkoja</a>
                <a href = "/manage-bands">Hallitse omia yhtyeitä</a>
                <a href = "/create-band">Luo yhtye</a>
                <a href = "/own-gigs">Omat ilmoitetut keikat</a>
                <a href = "/own-gigs-to-play">Tuurauskeikat</a>
                <a href = "/announce-gig">Ilmoita keikka</a>
                <a href = "/logout">Kirjaudu ulos</a>
            </nav>
        </div>

        <div>
            <div class = "announce_title">
                <h2>Keikkailmoitukset</h2>
            
            {% if gigs_count|int() == 0|int() %}
                <p>
                    Ei vielä yhtään ilmoitettua keikkaa.. <br>
                </p>
            {% else %}   
                </div> 
                <div class = "gigs_to_play">
                    {% for gig, players in gigs.items() %}
                    <div class = "gig">
                        <p>
                            <div class = "gig_title">
                            <p><u><h3>{{ gig.band_name }}</h3></u></p><br>
                            </div>
                            <b>Päivämäärä:</b> {{ gig.gig_date.strftime('%d.%m.%Y') }}<br>
                            <b>Kaupunki:</b> {{ gig.city }}<br>
                            <b>Tapahtumapaikka:</b> {{ gig.venue }}<br>
                            <b>Kuvaus:</b> {{ gig.gig_description }}<br>
                            <div class = "players">
                                <br>
                                    <u>Soittajat</u>
                                    {% set ns = namespace(title='empty_set') %}
                                    {% for player in players %}
                                        {% if ns.title != player.instrument_name %}
                                            <h4>{{ player.instrument_name }}</h4>
                                            {% set ns.title = player.instrument_name %}
                                        {% endif %}
                                    <form action = "/delete-sign-up/{{ gig.id }}/{{ session.username }}" method = "POST">
                                        <ul>
                                            <li>{{ player.username }}, {{ player.instrument_name }}
                                                {% if player.username == session.username %}
                                                    <input class = "button_green" type = "submit" value = "Poista ilmoittautuminen">
                                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">  
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </form>
                                    {% endfor %}
                            </div>
                        </p>
                        <form name = "select_instrument" action = "/sign-up/{{ gig.id }}" method = "POST">
                            <label for = "role_select">
                                <select class = "select" name = "instrument_chosen">
                                    {% for show, instruments in instruments.items() %}
                                        {% if show == gig %}
                                            {% for instrument in instruments %}
                                            <option class = "select" value = "{{ instrument }}" SELECTED>{{ instrument }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                            <input class = "button_green" type = "submit" value = "Ilmoittaudu">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</body>