<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/login.css') }}">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/error.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    

    <div class = "center">
        <div class = "title">
        <h1>Varamuusikkopalvelu</h1>
        </div>
        <div class = "login_window">            
            <h3>Kirjaudu sisään</h3>

            {% if message != None %}
                <div class = "error">
                        {{ message }}<br>
                </div>
            {% endif %}
        
            <form action = "/login" method = "POST">
                <p>Tunnus:
                    <input class = "button_yellow" type = "text" name = "username">
                </p>
                <p>Salasana:
                    <input class = "button_yellow" type = "password" name = "password">
                </p>
                <input class = "button_yellow" type = "submit" value = "Kirjaudu sisään">
            </form>
        
                <p>
                Ei vielä käyttäjätunnusta?
                <p>
                    <a href = "/create-user">Luo käyttäjätunnus</a>
                </p>
            </p>
        </div>
    </div>
</body>