<div>
    <div>
        <h1>Ootko valmiina rokkaamaan?</h1>

        <h3>Kirjaudu sisään</h3>

        <form action = "/login" method = "POST">
            <p>Tunnus:
                <input type = "text" name = "username">
            </p>
            <p>Salasana:
                <input type = "password" name = "password">
            </p>
            <input type = "submit" value = "Kirjaudu sisään">
        </form>
    </div>
    <div>
        <p>
            Ei vielä käyttäjätunnusta?
            <p>
                <a href = "/create_user">Luo käyttäjätunnus</a>
            </p>
        </p>
    </div>
</div>