<div>
    <a href = "/main-page">Takaisin</a>
    <h2>Omat ilmoitetut keikat</h2>
    {% if gigs_count|int() == 0|int() %}
        <p>
            Ei vielä yhtään ilmoitettua keikkaa.. <br>
            <a href = "/announce-gig">Mee ilmottaa!</a>
        </p>
    {% else %}    
        <div name = "own_gigs">
            <p>
                {% for gig, players in gigs.items() %}
                <p>
                    <p><b><u>{{ gig.band_name}}</u></b></p>
                    <b>Päivämäärä:</b> {{ gig.gig_date }}<br>
                    <b>Kaupunki:</b> {{ gig.city }}<br>
                    <b>Tapahtumapaikka:</b> {{ gig.venue }}<br>
                    <b>Kuvaus:</b> {{ gig.gig_description }}<br>
                    <div name = "players">
                        <ul>
                            {% for player in players %}
                                <li>{{player}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <form action = "/delete-gig/{{ gig.id }}" method = "POST">
                        <input type = "submit" value = "Poista keikka">
                    </form><br>
                </p>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    
</div>