<div>
    <a href = "/main-page">Takaisin</a>
    <h2>Omat ilmoitetut keikat</h2>
    {% if gigs_count|int() == 0|int() %}
        <p>
            Ei vielä yhtäkään muiden ilmoittamaa keikkaa.. <br>
            <a href = "/announce-gig">Mee ilmottaa!</a>
        </p>
    {% else %}    
        <div name = "own_gigs">
            <p>
                {% for gig, players in gigs.items() %}
                <p>
                    <p><b><u>{{ gig.band_name}}</u></b></p>
                    <b>Päivämäärä:</b> {{ gig.gig_date.strftime('%d.%m.%Y') }}<br>
                    <b>Kaupunki:</b> {{ gig.city }}<br>
                    <b>Tapahtumapaikka:</b> {{ gig.venue }}<br>
                    <b>Kuvaus:</b> {{ gig.gig_description }}<br>
                    <div name = "players">

                        {% set ns = namespace(title='empty_set') %}
                        {% for player in players %}
                            {% if ns.title != player.instrument_name %}
                                <h4>{{ player.instrument_name }}</h4>
                                {% set ns.title = player.instrument_name %}
                            {% endif %}
                                <ul>
                                    <li>{{ player.username }}, {{ player.instrument_name}}</li>
                                </ul>    
                            {% endfor %}
                        </ul>
                    </div>
                    <form action = "/delete-gig/{{ gig.id }}" method = "POST">
                        <input type = "submit" value = "Poista keikka">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form><br>
                </p>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    
</div>