body {
    margin: auto;
    width: 50%;
    font-family: "Courier New", monospace;
    background-color: rgb(178, 209, 235);
}

.center {
    margin: auto;
    width: 60%;
    background-color: #8fbc8f;
    padding: 40px;
    border-radius: 10px;
}

.login_window {
    margin: auto;
    width: 70%;
}

.title {
    margin: auto;
    width: 70%;
    font-family: "Courier New", monospace;
    padding-bottom:20px;
}

.button_yellow {
    background-color: rgb(224, 212, 143);
    border: none;
    border-radius: 10px;
    font-family: "Courier New", monospace;
    padding: 10px;
}